<div class="mt-24">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Loop through the images array and display each image -->
      <div class="swiper-slide" *ngFor="let item of images">
        <img [src]="item.src" [alt]="item.alt" class="w-full h-auto rounded-lg shadow-lg" />
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-next"></div> <!-- Next Button -->
    <div class="swiper-button-prev"></div> <!-- Previous Button -->
  </div>
</div>
