<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-sm text-center space-y-4">
    <a [routerLink]="'chamatkar'" class="block bg-indigo-500 text-white font-medium py-2.5 px-5 rounded-lg hover:bg-indigo-600 transition">
      Chamatkar
    </a>

    <a [routerLink]="'p3'" class="block bg-emerald-500 text-white font-medium py-2.5 px-5 rounded-lg hover:bg-emerald-600 transition">
      Ajad P3
    </a>
  </div>
</div>
